html {
  box-sizing: border-box;
  font-family: 'Hi Melody', cursive;
}

body {
  background-image: url("memphis-colorful.png");
  background-size: 50%;
}

header {
  text-align: center;
  text-shadow: 1px 2px #f9a7a7;
}

#logo {
  width: 20%;
}

.avatar {
  border-radius: 50%;
  margin: 5px;

}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.container {
  padding: 0 20px;
}

.title {
  color: #555;
}

h3 {
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.8;
  margin-left: 10px;
}

.button {
  border: none;
  outline: 0;
  padding-top: 6px;
  color: #000;
  background-color: #f9a7a7;
  text-align: center;
  font-family: 'Hi Melody', cursive;
  font-size: 25px;
  cursor: pointer;
  width: 100%;
  border-radius: 0 0 5px 5px;
  transition: 0.3s;
}

.button:hover {
  background-color: #555;
  color: #f9a7a7;
}

footer {
  text-align: center;
  padding: 40px 0 0 0;
}